<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="C:\\Logs\SolutionMonitor.${level}.${shortdate}.log" encoding="utf-8" layout="WHEN: ${longdate}${newline}WHERE: ${logger}${newline}WHAT:${message}${newline}${exception:format=ToString}" />
      <target name="debugger" type="Debugger" layout="[${level:uppercase=true} - ${logger}] ${message}" />
      <target name="errorDebugger" type="Debugger" layout="[${level:uppercase=true} - ${logger}]${newline}${message}${newline}${exception:format=ToString}" />
      <target xsi:type="MessageBox" name="userMessage" layout="${message}" caption="${logger}" />
    </targets>
    <rules>
      <logger name="*" writeTo="debugger" maxlevel="Debug" />
      <logger name="*" writeTo="errorDebugger" minlevel="Warn" />
      <logger name="*" writeTo="file" minlevel="Error" />
      <logger name="*" writeTo="userMessage" minlevel="Error" />
    </rules>
  </nlog>
</configuration>
